<div ng-controller="myUploadModalCtrl" id="uploadController">
	<link rel="stylesheet" type="text/css" href="upload.css">
	<div class='modal-header'><div class='titlebar modal-title header'>Upload Contract</div></div>
	<form class='modal-body'>
		<div class='inner centermass'>
			<div id="drop_zone" class='emptybox' my-uploader>
                <div class="greytext hcenter">Drop Files Here to Upload</div>
            </div>
		</div>
	</form>    
    <div class="lefttab" id="confirmSave" ng-show="filesUploaded" ng-click="save(files)">
        <br/><button type="button">Save files Locally?</button><br/>
            <output>
            <ul>
                <li ng-repeat="file in fileList">name: <strong> {{ file.name }} </strong> size: {{ file.size }} </li>
            </ul>
        </output>
    </div>
	<div class="modal-footer">
        <div class="footerbar">
            <button type="button" class="T-I J-J5-Ji aoO T-I-atl L3 T-I-Zf-aw2" ng-click="authenticateLibrary()">Use an existing set of contracts</button>
            <button type="button" class="T-I J-J5-Ji aoO T-I-atl L3 T-I-Zf-aw2" ng-click="done()">Done</button>
        </div>
	</div>
</div>