<!doctype html>
<div class="form-group centermass" id="myPopoverDiv">
    <div class='centerbutton'>
        <div ng-controller="myTypeaheadCtrl">
            <input type="text" ng-model="selected" typeahead-on-select="openTemplate($item, $model, $label)" uib-typeahead="contract for contract in contracts | filter:$viewValue | limitTo:10" placeholder="Contract Name">
        </div>
    </div>
<!--
    <div class='centerbutton'>
        <div ng-controller="myUploadModalCtrl">
            <button type="button" class="T-I J-J5-Ji aoO T-I-atl L3 T-I-Zf-aw2" ng-click="open()">Upload a New Contract</button>
        </div> 
    </div>
-->
</div>
