<div>
    <link rel="stylesheet" type="text/css" href="upload.css">
	<div class='modal-header'><div class='titlebar modal-title header'>Enter Replacement Field Names</div></div>
	<form class='modal-body'>
        <div class='inner'>
            <div id='modifiablefields'>
                <table style="width:100%">
                    <tr class="contractfields" ng-repeat="field in fieldList">
                        <td class="centermass">
                          <input
                            class="fieldcontainer"
                            name='userfield'
                            placeholder="field: {{ field }}"
                            type='text'>{{ templatefields[field] }}</td>
                    </tr>
                </table>
            </div>
        </div>
	</form>
	<div class="modal-footer">
        <div class="footerbar">
            <button class="T-I J-J5-Ji aoO T-I-atl L3 T-I-Zf-aw2" type="button" ng-click="cancel()">Cancel</button>
            <button class="T-I J-J5-Ji aoO T-I-atl L3 T-I-Zf-aw2" type="button" ng-click="done()">Done</button>
        </div>
	</div>
</div>